.AboutMe{
  text-align: left;
  padding: 1em 1em;
  margin-bottom: 2em;
}
.mine{
border: 0.5em solid white;
height: calc(14em + 1vh);
width: calc(14em + 1vh);
margin-top: calc(1em + 1vh);

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.AboutMe .btn{
  margin-top: 1em;
}
.AboutText{
  margin: 2em;
  text-align: left;
}
.AboutText h1{
  font-weight: bold;
  text-align: left;
  font-size: 2em;

}
.AboutText span{
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  color: red;
}
