.ContactInfo{
  background-color: black;
  padding: 1.5em;
}
.ContactInfo h1{
  font-size: bold;
  font-size: calc(2em + 1vh);
  margin: auto;
  color: white;
  font-family: 'Playfair Display', serif;
}

.call{
  margin: auto;
}
.call .span{
  font-size: 1em;
}
.icon{
  margin: auto;
}
