.Interests{
  padding: 2em;
  background-color: #f2ebd8;
}
.interests{

  font-weight: bold;

  padding-bottom: 30px;
  overflow: hidden;
}
.interests h1{
  color: red;
  font-family: 'Playfair Display', serif;
}



.star{

    height: calc(2em + 1vw);
    padding-top: calc(0.2em + 0.1vw);

}
