.Testimonials .carousel{
  height: 350px;

}
.Testimonials{

}
@media screen and (max-width: 600px) {

.Testimonials .carousel{
  height: 300px;

}
}
.carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #404040;
}
.testimonial{


}
.quoteicon{
      opacity: 0.5;
}
.Testimonials span{
  opacity: 0.9;
  letter-spacing: 0.2em;
font-family: 'Roboto Mono', sans-serif;
font-size: 14px;
line-height: 16px;
}
.testimonial-para {
  font-family: 'Crimson Text', sans-serif;
    padding:  0.5em 10em;
    font-size: 28px;
    font-weight: 400;
}
@media screen and (max-width: 600px) {
  .testimonial-para {
      padding:  0.5em 1em;
      font-size: 15px;
      font-weight: 400;
  }
}
@media screen and (min-width: 601px) {
  .card-img-top{
    height: 320px;
  }
}
